<div class="booking-detail-container">
    <h1 class="booking-title"> {{ booking }}</h1>
    <p>Date: {{ booking.date }}</p>
    <p>Time: {{ booking.start }} - {{ booking.end }}</p>
    <p>Service: {{ booking.service.name }}</p>
    <p>Hairdresser: {{ booking.hairdresser.user.full_name }}</p>
    {% if booking.notes %}
        <p>Notes: {{ booking.notes }}</p>
    {% endif %}

    <a href="#" class="btn btn-primary">Reschedule</a> or
    <a href="{% url 'booking delete' pk=booking.pk %}" class="btn btn-danger">Cancel</a>
</div>