<div class="hairdresser-detail-container">
    <div class="hairdresser-photo">
        {% if hairdresser.user.profile.account_photo %}
            <img src="{{ hairdresser.user.profile.account_photo.url }}" alt="{{ hairdresser.name }}">

        {% else %}
            <p>No photo available.</p>
        {% endif %}

    </div>

    <div class="hairdresser-info">
        <h2>Name: {{ hairdresser.user.full_name }}</h2>
        <p>Background: {{ hairdresser.background }}</p>
        <p>Age: {{ hairdresser.age }}</p>
        <p>Working With Us Since: {{ hairdresser.working_since }}</p>
        <h3>Haircuts:</h3>
        <ul>
            {% for service in hairdresser.services.all %}
                <li>
                    <a href="{% url 'detail service' pk=service.pk %}">{{ service.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>