<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<div class="menu-outer">
    <div class="menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a target="_blank" href="https://www.wowthemes.net/themes/beauttio/">WP Version</a></li>
        </ul>
    </nav>
</div>

<a class="menu-close" onClick="return true">
    <div class="menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</a>

<a href="#">
    <div class="fixedcallicon">
        <i class="fa fa-calendar"></i>
        <span class="hide">Book an Appointment</span>
    </div>
</a>