<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<div class="menu-outer">
    <div class="menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'dashboard' %}">My Bookings</a></li>

                <li><a href="{% url 'edit user' pk=user.pk %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
                {% if user.is_staff %}
                    <li><a href="{% url 'list_services' %}">Services</a></li>
                {% endif %}

            {% else %}
                <li><a href="{% url 'login' %}">Log in</a></li>
                <li><a href="{% url 'register' %}">Register</a>

            {% endif %}

            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'about' %}">Who We Are</a></li>

        </ul>
    </nav>
</div>

<a class="menu-close" onClick="return true">
    <div class="menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</a>

<a href="{% url 'dashboard' %}">
    <div class="fixedcallicon">
        <i class="fa fa-calendar"></i>
        <span class="hide">Book an Appointment</span>
    </div>
</a>