{% load static %}
<div class="service-card">
    <div class="service-photo">
        {% if service.haircut_photo %}
            <img src="{{ service.haircut_photo.url }}" alt="{{ service.name }}">
        {% else %}
            <img src="{% static 'img/default-service.jpg' %}" alt="Default Image">

        {% endif %}
    </div>
    <div class="service-info">
        <h2>{{ service.name }}</h2>
        <p><strong>Description:</strong> {{ service.description }}</p>
        <p><strong>For:</strong> {{ service.get_male_female_child_display }}</p>
        <p><strong>Duration:</strong> {{ service.duration }} minutes</p>
        <p><strong>Price:</strong> ${{ service.price }}</p>

        <div class="service-card-actions">
            <div class="edit-delete-btns">


                <a href="{% url 'edit service' pk=service.pk %}">
                    <img class="edit-img" src="{% static 'img/edit-pen-icon-6.jpg' %}"
                         alt="edit button">
                </a>


                <a href="{% url 'delete service' pk=service.pk %}">
                    <img class="bin-img" src="{% static 'img/icon-remove-22.jpg' %}"
                         alt="bin button">
                </a>
            </div>
        </div>


    </div>
</div>