{% extends 'base.html' %}
{% load filters %}


{% load static %}

{% block content %}

    <body style="background-image:url('{% static 'img/bg6.jpg' %}');background-attachment:fixed;background-size:cover;">

    {% include 'partials/menu_and_calendar.html' %}

    <div class="split-view-container">

        <div class="left-pane">
            <h1 class="left-pane-title">LAST HAIRCUTS</h1>


        </div>

        <div class="right-pane">
            <h1 class="right-pane-title">PROFILE</h1>
            <i class="iconstartitle textmagenta fa fa-user"></i>
        </div>

    </div>
    

    <div class="clearfix"></div>
    {% include 'partials/footer.html' %}

    <!-- Scripts -->
    {% include 'partials/script_other_page.html' %}

    </body>

{% endblock %}