{% extends 'base.html' %}
{% load static %}

{% block content %}

    <body style="background-image:url('{% static 'img/bg5.jpg' %}');background-attachment:fixed;background-size:cover;">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% include 'partials/menu_and_calendar.html' %}
    <div class="container">

        <div class="logoarea">
            <div class="intro">
                <h1><span class="smaller wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5">1044 Madison Avenue, New York, NY 10075, US</span>
                    <span class="big wow pulse" data-wow-duration="1s" data-wow-delay="0s">Beauttio</span>
                    <span class="small wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">- HAIR SALON -</span>
                </h1>
            </div>
        </div>

        <div class="pagearea">
            <h1 class="page-headline">BOOKING DETAILS</h1>
            <i class="iconstartitle textmagenta fa fa-star"></i>

            <div class="bookings-container">
                <div class="title-and-buttons">
                    
                {% include 'partials/booking_card.html' %}


               


                <div class="new_booking">
                    <button class="toggle-button">Book an Appointment</button>
                    <div id="new_booking" style="display: none;">

                        <div id="user-role" data-role="{{ user_role }}" style="display:none;"></div>
                        <form action="{% url 'dashboard' %}" method="post">
                            <p>Select a Service: {{ form.service }}</p>
                            <!-- Django renders the actual select element -->
                            <p>Chosen Date: {{ form.date }}</p>

                            <p>Start Time: {{ form.start }}</p> <!-- Django renders the actual input element -->
                            <p>Expected End: <span id="end_time_display">N/A</span></p>
                            <p>Notes: {{ form.notes }}</p>


                            <button type="submit" class="btn login-btn">BOOK</button>
                            {% csrf_token %}
                        </form>
                    </div>
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% elif messages %}
                        <div class="alert alert-danger">
                            {% for msg in messages %}
                                {{ msg }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>


        </div>

    </div>
    <div class="clearfix"></div>
    {% include 'partials/footer.html' %}
    {% include 'partials/script_other_page.html' %}
    {% include 'partials/script_calendar.html' %}
    <script src="{% static 'js/end_time_dynamic_display.js' %}"></script>
    <script src="{% static 'js/calendar.js' %}"></script>
    <script src="{% static 'js/toggle_button_collapse.js' %}"></script>
    </body>

{% endblock %}
