{% extends 'base.html' %}
{% load static %}

{% block content %}

    <body style="background: url('{% static 'img/bg4.jpg' %}') fixed; background-size: cover;">

    {% include 'partials/menu_and_calendar.html' %}
    <div class="container">

        <div class="logoarea">
            <div class="container-dashboard">
                <div id="calendar"></div>

            </div>
        </div>

        <div class="pagearea">
            <h1 class="page-headline">BOOKINGS INFO</h1>
            <i class="iconstartitle textmagenta fa fa-star"></i>
            <div class="container-dashboard">
                <h2>Welcome, {{ request.user.first_name }}</h2>

                <div class="upcoming-bookings">
                    <h3>Upcoming Bookings</h3>
                    <!-- Placeholder for calendar integration or list -->
                    {% for booking in upcoming_bookings %}
                        <p>{{ booking.date }}: {{ booking.service }}</p> <!-- Adjust as per your Booking model -->
                    {% endfor %}
                </div>

                <div class="booking-history">
                    <h3>Booking History</h3>
                    {% for booking in previous_bookings %}
                        <p>{{ booking.date }}: {{ booking.service }}</p>
                    {% endfor %}
                </div>

                <div class="photo-gallery">
                    <h3>Previous Styles</h3>
                    {% for photo in photos %}
                        <img src="{{ photo.image.url }}" alt="Hair style"/> <!-- Adjust as per your Photo model -->
                    {% endfor %}
                </div>

                <!-- Link or button to initiate a new booking -->
                <a href="#" class="btn">Make a New Booking</a>
            </div>

            {% include 'partials/footer.html' %}
            {% include 'partials/script_other_page.html' %}
            {% include 'partials/script_calendar.html' %}
            <script src="{% static 'js/calendar.js' %}"></script>

        </div>
    </div>
    </body>

{% endblock %}
