{% extends 'base.html' %}
{% load static %}

{% block content %}

    <body style="background-image:url('{% static 'img/bg5.jpg' %}');background-attachment:fixed;background-size:cover;">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% include 'partials/menu_and_calendar.html' %}
    <div class="container">

        <div class="logoarea">
            <div class="calendar-dashboard">
                <div id="calendar"></div>
            </div>
        </div>

        <div class="pagearea">
            <h1 class="page-headline">BOOKINGS INFO ---> <a href="http://13.53.77.249:8025/">ACCESS MAILHOG TO VIEW EMAILS</a></h1>
            <i class="iconstartitle textmagenta fa fa-star"></i>

            <div class="bookings-container">
                <div class="title-and-buttons">
                    <h1 class="entry-title">Welcome, {{ profile.user }}</h1>
                    <div class="edit-delete-btns">
                        <a href="{% url 'edit user' pk=user.pk %}">
                            <img class="edit-img" src="{% static 'img/edit-pen-icon-6.jpg' %}" alt="edit button">
                        </a>
                        <a href="{% url 'delete user' pk=user.pk %}">
                            <img class="bin-img" src="{% static 'img/icon-remove-22.jpg' %}" alt="bin button">
                        </a>
                    </div>
                </div>


                <div class="upcoming-bookings">
                    <button class="toggle-button">Upcoming Bookings</button>
                    <div id="bookings-list" style="display: none;">
                        {% if upcoming_bookings %}
                            {% for booking in upcoming_bookings %}
                                <p><a href="{% url 'booking details' pk=booking.pk %}">{{ booking.date }}
                                    at {{ booking.start }}: {{ booking }}</a></p>
                            {% endfor %}
                        {% else %}
                            <p>No bookings yet!</p>
                        {% endif %}
                    </div>
                </div>


                <div class="booking-history">
                    <button class="toggle-button">Booking History</button>
                    <div id="history-list" style="display: none;">
                        {% if passed_bookings %}
                            {% for booking in passed_bookings %}
                                <p>{{ booking.date }}: {{ booking.service }}</p>
                                <div class="booking-photos">
                                    <button class="toggle-button">Show Photos</button>
                                    <div id="photos" style="display: none;">

                                        <img class="pre-photo" src="{{ booking.pre_photo }}"
                                             alt="No pre-photo uploaded!"/>

                                        <img class="post-photo" src="{{ booking.post_photo }}"
                                             alt="No post-photo uploaded!"/>

                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No booking history available.</p>
                        {% endif %}
                    </div>
                </div>


                <div class="new_booking">
                    {% if not user.is_staff %}
                        <button class="toggle-button">Book an Appointment</button>
                    {% endif %}
                    <div id="new_booking" style="display: none;">

                        <div id="user-role" data-role="{{ user_role }}" style="display:none;"></div>

                        <form action="{% url 'dashboard' %}" method="post">

                            <p>Select your Stylist: {{ form.hairdresser }}</p>

                            <!-- Django renders the actual select element -->
                            <p>Chosen Date: {{ form.date }}</p>

                            <p>Start Time: {{ form.start }}</p> <!-- Django renders the actual input element -->
                            <p>Select a Service: {{ form.service }}</p>
                            <p>Expected End: <span id="end_time_display">N/A</span></p>
                            <p>Notes: {{ form.notes }}</p>


                            <button type="submit" class="btn login-btn">BOOK</button>
                            {% csrf_token %}
                        </form>
                    
                    </div>
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            {% elif message.tags == 'success' %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

            </div>


        </div>

    </div>
    <div class="clearfix"></div>
    {% include 'partials/footer.html' %}
    {% include 'partials/script_other_page.html' %}
    {% include 'partials/script_calendar.html' %}
    <script src="{% static 'js/end_time_dynamic_display.js' %}"></script>
    <script src="{% static 'js/calendar.js' %}"></script>
    <script src="{% static 'js/toggle_button_collapse.js' %}"></script>
    <script src="{% static 'js/update_services.js' %}"></script>
    </body>

{% endblock %}
