{% extends 'base.html' %}
{% load static %}

{% block content %}

    <body style="background: url('{% static 'img/bg4.jpg' %}') fixed; background-size: cover;">

    {% include 'partials/menu_and_calendar.html' %}
    <div class="container">

        <div class="logoarea">
            <div class="container-dashboard">
                <div id="calendar"></div>

            </div>
        </div>

        <div class="pagearea">
            <h1 class="page-headline">BOOKINGS INFO</h1>
            <i class="iconstartitle textmagenta fa fa-star"></i>

            <div class="container-dashboard">
                <h1 class="entry-title">Welcome, {{ profile.user }}</h1>

                <div class="upcoming-bookings">
                    <button class="toggle-button">Upcoming Bookings</button>
                    <div id="bookings-list" style="display: none;">
                        {% if upcoming_bookings %}
                            {% for booking in upcoming_bookings %}
                                <p>{{ booking.date }}: {{ booking.service }}</p>
                            {% endfor %}
                        {% else %}
                            <p>No bookings yet!</p>
                        {% endif %}
                    </div>
                </div>


                <div class="booking-history">
                    <button class="toggle-button">Booking History</button>
                    <div id="history-list" style="display: none;">
                        {% if passed_bookings %}
                            {% for booking in passed_bookings %}
                                <p>{{ booking.date }}: {{ booking.service }}</p>
                                <div class="booking-photos">
                                    <button class="toggle-button">Show Photos</button>
                                    <div id="photos" style="display: none;">

                                        <img class="pre-photo" src="{{ booking.pre_photo }}"
                                             alt="No pre-photo uploaded!"/>

                                        <img class="post-photo" src="{{ booking.post_photo }}"
                                             alt="No post-photo uploaded!"/>

                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No booking history available.</p>
                        {% endif %}
                    </div>
                </div>


                <!-- Link or button to initiate a new booking -->
                <div class="new_booking">
                    <button class="toggle-button">Book an Appointment</button>
                    <div id="new_booking" style="display: none;">
                        
                        <form action="{% url 'dashboard' %}" method="post">
                            <p>Date: {{ form.date }}</p>
                            <p>Start time: {{ form.start }}</p> <!-- Django renders the actual input element -->
                            <p>Service: {{ form.service }}</p> <!-- Django renders the actual select element -->
                            <p>Expected end: <span id="end_time_display">N/A</span></p>
                            <p>Notes: {{ form.notes }}</p>
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {% for error in form.non_field_errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <button type="submit" class="btn login-btn">Create Booking</button>
                            {% csrf_token %}
                        </form>
                    </div>

                    {% include 'partials/footer.html' %}
                    {% include 'partials/script_other_page.html' %}
                    {% include 'partials/script_calendar.html' %}
                    <script src="{% static 'js/calendar.js' %}"></script>
                    <script src="{% static 'js/end_time_dynamic_display.js' %}"></script>
                    <script src="{% static 'js/toggle_button_collapse.js' %}"></script>

                </div>
            </div>
    </body>

{% endblock %}
