{% extends 'base.html' %}

{% load static %}

{% block content %}

    <body style="background-image:url('{% static 'img/bg6.jpg' %}');background-attachment:fixed;background-size:cover;">

    {% include 'partials/menu_and_calendar.html' %}

    <div class="container">
        <div class="logoarea">
            <div class="intro">
                <h1><span class="smaller wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5">1044 Madison Avenue, New York, NY 10075, US</span>
                    <span class="big wow pulse" data-wow-duration="1s" data-wow-delay="0s">Beauttio</span>
                    <span class="small wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">- HAIR SALON -</span>
                </h1>
            </div>
        </div>

        <div class="pagearea">
            <h1 class="page-headline">LIST ALL SERVICES</h1>
            <i class="iconstartitle textmagenta fa fa-star"></i>

            <div class="login-container">

                <ul>
                    {% if object_list %}
                        {% for service in object_list %}
                            <li>
                                <a href="{% url 'detail service' pk=service.pk %}">{{ service }}, price: ${{ service.price }}, approx: {{ service.duration }} minutes</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>

            </div>
            {% if user.is_superuser %}
                <a href="{% url 'create_service' %}">Add a service?</a>
            {% endif %}
        </div>

    </div>


    <div class="clearfix"></div>
    {% include 'partials/footer.html' %}

    <!-- Scripts -->
    {% include 'partials/script_other_page.html' %}

    </body>

{% endblock %}