.booking-detail-container {

}

.booking-detail-container h1.booking-title {
    font-family: Oswald;
    font-size: 21px;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 1px;
    margin-bottom: 10px;
}