{% extends 'base.html' %}

{% load static %}

{% block content %}
    <body class="frontpage">

    {% include 'partials/menu_and_calendar.html' %}

    <div class="container">
        <section class="background">
            <div class="content-wrapper">
                <div class="intro">
                    <h1><span class="smaller wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5">1044 Madison Avenue, New York, NY 10075, US</span>
                        <span class="big wow pulse" data-wow-duration="1s" data-wow-delay="0s">Beauttio</span><br/>
                        <span class="small wow fadeIn" data-wow-duration="2s"
                              data-wow-delay="0.5s">- HAIR SALON -</span>
                    </h1>
                </div>
            </div>
        </section>
        <section class="background">
            <div class="content-wrapper">
                <div class="about">
                    <div class="aboutbadge">
				<span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star"></i><i class="fa fa-star"></i><br/>
				<span class="border">Awarded Salon</span><br/>
				Est. 2007</span>
                    </div>
                    <div class="aboutbadge black">
                        <span>Upbeat, chic, and funky salon. We are based on twenty-five years of experience. We specialize in couture cuts and blowouts, men's cuts, natural and funky hair colors, and highlights. </span>
                    </div>
                </div>
            </div>
        </section>
        <section class="background">
            <div class="content-wrapper">
                <div class="voucher">
                    <div class="voucher-whitetransparent">
                        <h2><i class="fa fa-gift"></i><br/>REDEEM YOUR VOUCHER<br/>20% OFF IN 2024<br/><a
                                href="{% url 'dashboard' %}">Book
                            Now</a></h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="background">
            <div class="content-wrapper">
                <div class="pricingbadge">
                    <h4>High Quality, Low Prices</h4>
                    <ul class="pricing_menu__list">
                        {% for service in object_list %}
                            <li class="pricing_menu__row">
                                <div class="pricing_menu__meal">
                                    <span>{{ service }}</span>
                                </div>
                                <span class="pricing_menu__price">${{ service.price }}</span>
                            </li>
                        {% endfor %}

                        <a class="fullpricelist" href="{% url 'list_services' %}"><i class="fa fa-file-pdf-o"></i> View
                            our full services list
                            list</a>
                    </ul>
                </div>
            </div>
        </section>
        
    </div>


    <!-- Scripts -->
    {% include 'partials/scripts.html' %}

    </body>

{% endblock %}
